@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px; /* Tenučký pásik */
  }

  ::-webkit-scrollbar-track {
    background: #000; /* Čierne pozadie dráhy */
  }

  ::-webkit-scrollbar-thumb {
    background: #27272a; /* Tmavosivá farba bežca (zinc-800) */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #52525b; /* Pri hoveri trocha zosvetlie */
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}